<!DOCTYPE html>
<html lang="<%= config.language %>">
	<%- partial('_partial/head') %>

	<!-- background -->
	<% if (theme.background.enable) { %> <%- partial('_partial/background') %> <% } %>
	<body>
		<%- partial('_partial/header') %> <%- body %> <%- partial('_partial/footer') %> <%-
		partial('_partial/search') %> <%- partial('_partial/back-top') %>
		<script src="<%- theme.libs.js.materialize %>"></script>
		<script src="<%- theme.libs.js.masonry %>"></script>
		<script src="<%- theme.libs.js.aos %>"></script>
		<script src="<%- theme.libs.js.scrollProgress %>"></script>
		<script src="<%- theme.libs.js.lightgallery %>"></script>
		<script src="/js/matery.js"></script>
		<script type="text/javascript">
			var OriginTitile = document.title,
				st;
			document.addEventListener("visibilitychange", function () {
				document.hidden
					? ((document.title = " ( ͡ಥ ͜ʖ ͡ಥ) 喔哟，崩溃啦！"), clearTimeout(st))
					: ((document.title = " ( ͡ᵔ ͜ʖ ͡ᵔ) 咦，又好了！"),
					  (st = setTimeout(function () {
							document.title = OriginTitile;
					  }, 3e3)));
			});
		</script>

		<!-- clicklove -->
		<% if (theme.clicklove && theme.clicklove.enable) { %>
		<script src="<%- theme.libs.js.clicklove %>"></script>
		<% } %>

		<!-- busuanzi -->
		<% if (theme.busuanziStatistics && theme.busuanziStatistics.enable) { %>
		<script async src="<%- theme.libs.js.busuanzi %>"></script>
		<% } %>

		<!-- <!&#45;&#45; Aplayer &#45;&#45;> -->
		<!-- <div -->
		<!-- 	class="aplayer" -->
		<!-- 	data&#45;id="2909081825" -->
		<!-- 	data&#45;server="netease" -->
		<!-- 	data&#45;type="playlist" -->
		<!-- 	data&#45;fixed="true" -->
		<!-- 	data&#45;mini="true" -->
		<!-- 	data&#45;autoplay="false" -->
		<!-- 	data&#45;order="random" -->
		<!-- 	data&#45;volume="0.5" -->
		<!-- 	data&#45;theme="#1da496" -->
		<!-- 	data&#45;preload="auto" -->
		<!-- ></div> -->
		<!--  -->
		<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
		<!-- 一言API -->
		<!-- 现代写法，推荐 -->
		<!-- 兼容低版本浏览器 (包括 IE)，可移除 -->
		<script>
			// fetch("https://v1.hitokoto.cn?c=j&c=k&c=i")
			fetch("https://v1.hitokoto.cn")
				.then(function (res) {
					return res.json();
				})
				.then(function (data) {
					var hitokoto = document.getElementById("hitokoto");
					hitokoto.innerText = data.hitokoto;
					console.log(data.hitokoto);
				})
				.catch(function (err) {
					console.error(err);
				});
		</script>
		<!--End-->

		<!-- live2d -->
		<% if (theme.live2d && theme.live2d.enable) { %>
		<!-- <script src="https://cdn.jsdelivr.net/gh/liuyaanng/Blog_source/blog_source/live2d&#45;widget/autoload.js"></script> -->
		<script src="/live2d-widget/autoload.js"></script>
		<% } %>

		<!-- 腾讯兔小巢 -->
		<% if (theme.tuxiaochao.enable) { %>
		<div style="position: fixed; bottom: 50%; left: -10px; cursor: pointer">
			<a title="兔小巢" href="https://support.qq.com/products/<%- theme.tuxiaochao.productId %>"
				><img
					src="https://cdn.jsdelivr.net/gh/liuyaanng/blog_source@master/blog_source/tuxiaochao.png"
					style="width: 70px; height: 70px"
			/></a>
		</div>
		<%}%>

		<!--动态线条背景-->
		<% if(theme.canvas && theme.canvas.enable) { %>
		<script
			type="text/javascript"
			color="220,220,220"
			opacity="0.7"
			zIndex="-1"
			count="100"
			src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"
		></script>
		<% } %>

		<!-- night mode -->
		<% if(theme.darkmode && theme.darkmode.enable) { %>
		<div id="xm">
			<img src="https://cdn.jsdelivr.net/gh/liuyaanng/Blog_source/blog_source/xm.png" />
		</div>
		<script>
			function switchNightMode() {
				var body = document.body;
				if (body.classList.contains("night")) {
					document.body.classList.remove("night");
					document.cookie = "night=0;path=/";
				} else {
					document.body.classList.add("night");
					document.cookie = "night=1;path=/";
				}
			}
			var xm = document.getElementById("xm");
			xm.onclick = switchNightMode;
			(function () {
				if (document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") === "") {
					if (new Date().getHours() > 19 || new Date().getHours() < 8) {
						document.body.classList.add("night");
						document.cookie = "night=1;path=/";
						console.log("夜间模式开启");
					} else if (matchMedia("(prefers-color-scheme: night)").matches) {
						document.body.classList.add("night");
						document.cookie = "night=1;path=/";
					} else {
						document.body.classList.remove("night");
						document.cookie = "night=0;path=/";
						console.log("夜间模式关闭");
					}
				} else {
					var night =
						document.cookie.replace(/(?:(?:^|.*;\s*)night\s*\=\s*([^;]*).*$)|^.*$/, "$1") || "0";
					if (night == "0") {
						document.body.classList.remove("night");
						console.log("夜间模式移除,from cookie");
					} else if (night == "1") {
						document.body.classList.add("night");
						console.log("夜间模式开启,from cookie");
					}
				}
			})();
		</script>
		<!-- 明月浩空播放器 -->
		<% } %> <% if(theme.music_box && theme.music_box.enable) { if(theme.music_box.mobile) { %>
		<script src="https://myhkw.cn/player/js/player.js" id="myhk" key="160774417274" m="1"></script>
		<% } else { %>
		<script src="https://myhkw.cn/player/js/player.js" id="myhk" key="160774417274"></script>
		<% } } %>

		<!-- gary blog -->
		<% if(theme.gary_blog && theme.gary_blog.enable){ %>
		<script>
			calendar = new Date();
			month = calendar.getMonth() + 1; //0-11,所以要+1
			data = calendar.getDate();
			var isgaryblog = false;
			if (month == 4 && data == 4) isgaryblog = true; //清明节
			if (month == 5 && data == 12) isgaryblog = true; //5·12汶川大地震
			if (month == 12 && data == 13) isgaryblog = true; //南京大屠杀纪念日
			if (isgaryblog) {
				document.body.classList.add("gary");
			}
		</script>
		<!-- <!&#45;&#45; Clustrmaps &#45;&#45;> -->
		<!-- <script -->
		<!-- 	type="text/javascript" -->
		<!-- 	id="clustrmaps" -->
		<!-- 	src="//cdn.clustrmaps.com/map_v2.js?cl=0e1633&#38;w=300&#38;t=tt&#38;d=sVWKicULnl5HbigBve0GtYU7c9_irQ9jA3lx2rGKxKE&#38;co=0b4975&#38;ct=cdd4d9&#38;cmo=3acc3a&#38;cmn=ff5353" -->
		<!-- ></script> -->

		<% } %>
	</body>
</html>
