<%
    var title = page.title;

    // tags, categories, about pages title
    if (title == 'tags') {
        title = __('tags');
    } else if (title == 'categories') {
        title = __('categories');
    } else if (title == 'about') {
        title = __('about');
    }

    // archives, category, tag pages title
    if (is_archive()) {
        title = __('archives');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }

    // final page title.
    var pageTitle = title ? title + ' | ' + config.title : config.title;

    // keywords.
    var keyWords = config.keywords ? config.keywords : config.title;
    keyWords = title ? title  + ', ' + keyWords : keyWords;

    // description.
    var description = null;
    if (page.hasOwnProperty('__post') && page.__post) {
        description = strip_html(page.content).substring(0, 120);
    }
    description = description ? description : pageTitle;

    let iconType = 'image/png'
    let faviconExt = theme.favicon.substr(theme.favicon.lastIndexOf('.') + 1, theme.favicon.length)
    if (faviconExt === 'png') {
        iconType = 'image/png'
    } else if (faviconExt === 'svg') {
        iconType = 'image/svg+xml'
    } else if (faviconExt === 'gif') {
        iconType = 'image/gif'
    } else if (faviconExt === 'jpeg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'jpg') {
        iconType = 'image/jpeg'
    } else if (faviconExt === 'ico') {
        iconType = 'image/x-icon, image/vnd.microsoft.icon'
    } else {
        // more definitions
    }
%>

<head>
    <meta charset="utf-8">
		<meta name="google-site-verification" content="VnofYX8iuaTsibGaSIUeHanQZBi1NyHODHOFKbFZQZ4" />
    <meta name="keywords" content="<%= keyWords %>">
    <meta name="description" content="<%= description %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title><%= pageTitle %></title>
    <link rel="icon" type="<%= iconType %>" href="<%- theme.favicon %>">

    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.fontAwesome %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.materialize %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.aos %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.animate %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.lightgallery %>">
    <link rel="stylesheet" type="text/css" href="<%- theme.libs.css.matery %>">
    <link rel="stylesheet" type="text/css" href="/css/my.css">
		<link rel="stylesheet" href="/js/prism/prism.css">

		<%- partial('_partial/google-analytics') %>
<!-- Google AdSense -->
<script data-ad-client="ca-pub-9928999713093426" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</script>
    <script src="<%- theme.libs.js.jquery %>"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = (window._paq = window._paq || []);
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
			_paq.push(["setCookieDomain", "*.godliuyang.wang"]);
			_paq.push(["trackPageView"]);
			_paq.push(["enableLinkTracking"]);
			(function () {
				var u = "https://godliuyangwang.matomo.cloud/";
				_paq.push(["setTrackerUrl", u + "matomo.php"]);
				_paq.push(["setSiteId", "1"]);
				var d = document,
					g = d.createElement("script"),
					s = d.getElementsByTagName("script")[0];
				g.type = "text/javascript";
				g.async = true;
				g.src = "//cdn.matomo.cloud/godliuyangwang.matomo.cloud/matomo.js";
				s.parentNode.insertBefore(g, s);
			})();
		</script>
		<!-- End Matomo Code -->

</head>
